<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="./style.css">
    <title>Calculatrice Vue JS</title>
</head>

<body>
    <div id="calculator">
        <div id="screen">
            <div>
                {{ firstNumber }}
            </div>
            <div id="secondLine">
                <div>
                    {{ operator }}
                </div>
                <div>
                    {{ secondNumber }}
                </div>
            </div>
            <div>
                {{ result }}
            </div>
        </div>
        <div id="keyboard">
            <!-- <div class="row">
                <button class="key" value="7" @click="clic">7</button>
                <button class="key" value="8" @click="clic">8</button>
                <button class="key" value="9" @click="clic">9</button>
                <button class="key" value="+" @click="clic">+</button>
            </div>
            <div class="row">
                <button class="key" value="4" @click="clic">4</button>
                <button class="key" value="5" @click="clic">5</button>
                <button class="key" value="6" @click="clic">6</button>
                <button class="key" value="-" @click="clic">-</button>
            </div>
            <div class="row">
                <button class="key" value="1" @click="clic">1</button>
                <button class="key" value="2" @click="clic">2</button>
                <button class="key" value="3" @click="clic">3</button>
                <button class="key" value="x" @click="clic">x</button>
            </div>
            <div class="row">
                <button class="key" value="0" @click="clic">0</button>
                <button class="key" value="." @click="clic">.</button>
                <button class="key" value="=" @click="clic">=</button>
                <button class="key" value="/" @click="clic">/</button>
            </div> -->


            <div class="row" v-for="keys in keyboard">
                <calc-button v-for="key in keys" :value="key" class="keys"></calc-button>
            </div>
        </div>
    </div>

    <script>
        const Calc = {
            data() {
                return {
                    keyboard: [["7", "8", "9", "+"], ["4", "5", "6", "-"], ["1", "2", "3", "x"], ["0", ".", "=", "/"]],
                    firstNumber: "",
                    secondNumber: "",
                    result: "",
                    operator: ""
                }
            },
            methods: {
                clic(event) {
                    if (this.result !== "") {
                        this.firstNumber = "";
                        this.secondNumber = "";
                        this.operator = "";
                        this.result = "";
                    }
                    let key = event.target.value;
                    let number = parseFloat(key);
                    if (isNaN(number)) {
                        switch (key) {
                            case ".":
                                if (this.operator == "") {
                                    this.firstNumber += key;
                                } else {
                                    this.secondNumber += key;
                                }
                                break;

                            case "=":
                                switch (this.operator) {
                                    case "+":
                                        this.result = parseFloat(this.firstNumber) + parseFloat(this.secondNumber);
                                        break;
                                    case "-":
                                        this.result = parseFloat(this.firstNumber) - parseFloat(this.secondNumber);
                                        break;
                                    case "x":
                                        this.result = parseFloat(this.firstNumber) * parseFloat(this.secondNumber);
                                        break;
                                    case "/":
                                        this.result = parseFloat(this.firstNumber) / parseFloat(this.secondNumber);
                                        break;
                                    default:
                                        alert("Oups");
                                        break;
                                }
                                break;

                            default:
                                this.operator = key;
                                if (this.firstNumber == "") {
                                    this.firstNumber = "0";
                                }
                                break;
                        }
                    } else {
                        if (this.operator == "") {
                            this.firstNumber += key;
                        } else {
                            this.secondNumber += key;
                        }
                    }
                }
            }
        }
        const calc = Vue.createApp(Calc);

        calc.component('calc-button', {
            props: ['value'],
            template: '<button>{{ value }}</button>'
        })


        calc.mount('#calculator')
    </script>

</body>

</html>